<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Welcome to zensar</h1>
<p>{{title}}</p>
<!--<app-greeting></app-greeting>
<app-product-list></app-product-list>
<app-pipe-test></app-pipe-test>
<app-datepicker-test></app-datepicker-test>
<app-timepicker-test></app-timepicker-test>
 <app-rating-test></app-rating-test>
 <app-switch-test></app-switch-test>-->
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
         <li class="nav-item active"><a class="nav-link" routerLink="/greet">Gretting</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="/product">Product</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="/datepicker-test">Date</a> </li>
         <li class="nav-item"><a class="nav-link" routerLink="/timepicker-test">Time</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="/pipe-test">Pipe</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="/rating-test">Rating</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="/switch-test">Switch</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="/carousel-test">Carousel</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="/product-form">ProductForm</a></li>
        </ul>
 </nav>
 <router-outlet></router-outlet>
 <app-footer></app-footer>